
.nav-link{
    color: pink;
}
.btn{
    background-color: pink;
    width: 100px;
}

section{
    padding: 2rem 9%;
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 50rem; 
}
.home .content .h1{
    font-size: 6rem;
    color: #333;
}

.about{
    background-color: #333;
}
.img{
    background-color: aliceblue;
}

