.body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.btn{
    background-color: pink;
    color: black;
}

.img-bg {
    background-image: url("2.jpg") ;
    background-size: cover;
    height: 1080px;
    padding-top: 380px;
    padding-left: 200px;
    color: rgb(31, 31, 31);
    font-size: 50px;
}
.avatar1 {
    vertical-align: middle;
    width: 20%;
    border-radius: 50%;
}
.avatar2 {
    vertical-align: middle;
    width: 20%;;
    border-radius: 50%;
}
.avatar3 {
    vertical-align: middle;
    width: 20%;
    border-radius: 50%;
}

